<div class="col-12 col-sm-6 col-lg-4">
		<div class="footer-widget-area mt-80">
			<!-- Footer Logo -->
			<div class="footer-logo">
				<a href="index.html"><img src="/img/core-img/logo.png" alt=""></a>
			</div>
			<!-- List -->
			<ul class="list">
				<li><a href="mailto:contact@youremail.com">contact@youremail.com</a></li>
				<li><a href="tel:+4352782883884">+43 5278 2883 884</a></li>
				<li><a href="http://yoursitename.com">www.yoursitename.com</a></li>
			</ul>
		</div>
	</div>