<div class="col-12 col-sm-4 col-lg-2">
		<div class="footer-widget-area mt-80">
			<!-- Title -->
			<h4 class="widget-title">FAQ</h4>
			<!-- List -->
			<ul class="list">
				<li><a href="#">Aviation</a></li>
				<li><a href="#">Business</a></li>
				<li><a href="#">Traveller</a></li>
				<li><a href="#">Destinations</a></li>
				<li><a href="#">Features</a></li>
				<li><a href="#">Food/Drink</a></li>
				<li><a href="#">Hotels</a></li>
				<li><a href="#">Partner Hotels</a></li>
			</ul>
		</div>
	</div>