<div class="col-12 col-sm-6 col-lg-2">
		<div class="footer-widget-area mt-80">
			<!-- Title -->
			<h4 class="widget-title">Politics</h4>
			<!-- List -->
			<ul class="list">
				<li><a href="#">Business</a></li>
				<li><a href="#">Markets</a></li>
				<li><a href="#">Tech</a></li>
				<li><a href="#">Luxury</a></li>
			</ul>
		</div>
	</div>