<div class="col-12 col-sm-4 col-lg-2">
		<div class="footer-widget-area mt-80">
			<!-- Title -->
			<h4 class="widget-title">Featured</h4>
			<!-- List -->
			<ul class="list">
				<li><a href="#">Football</a></li>
				<li><a href="#">Golf</a></li>
				<li><a href="#">Tennis</a></li>
				<li><a href="#">Motorsport</a></li>
				<li><a href="#">Horseracing</a></li>
				<li><a href="#">Equestrian</a></li>
				<li><a href="#">Sailing</a></li>
				<li><a href="#">Skiing</a></li>
			</ul>
		</div>
	</div>