<div class="login-search-area d-flex align-items-center">
	<!-- Login -->
	<div class="login d-flex">
		<a href="#">Login</a>
		<a href="#">Register</a>
	</div>
	<!-- Search Form -->
	<%- include('search.ejs') %>
</div>