<div class="featured-post-area">
	<div class="container">
		<div class="row">
			<!-- MAIN CONTENT -->
			<%- include('top-featured-post') %>
			<!-- MAIN CONTENT END -->

			<!-- SIDE NEWS -->
			<%- include('top-side-news') %>
			<!-- SIDE NEWS END -->
		</div>
	</div>
</div>