<!-- Popular News Widget -->
							<div class="popular-news-widget mb-50">

								<h3>4 Most Popular News</h3>
								<% if(typeof latestComments != "undefined") { %>
        							<% latestComments.forEach(comment => { %>
            							<% let commentDate = new Date(comment.date); %>
								<!-- Single Popular Blog -->
								<div class="single-popular-post">
									<a href="#">
										<h6><span>1.</span><%= comment.name %></h6>
									</a>
									<p><%= dateAndTime.format(commentDate, "hh:mm A, MMMM DD, YYYY") %></p>
								</div>
							</div>
								<% }); %>
                    		<% } %>
							<!-- Newsletter Widget -->
							<div class="newsletter-widget mb-50">
								<h4>Newsletter</h4>
								<p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
								<form action="#" method="post">
									<input type="text" name="text" placeholder="Name">
									<input type="email" name="email" placeholder="Email">
									<button type="submit" class="btn w-100">Subscribe</button>
								</form>
							</div>